@using RegisterAPP.Models

@{
    ViewData["Title"] = "Home Page";
}

@model Registry


<h3>Attendance Recorder</h3>

<div class="form-group">
   
    <la>
        @Html.DropDownListFor(m => m.ClassName, new SelectList(Enum.GetValues(typeof(RegisterAPP.Enums.ClassNames))), "Select Class")
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            <la>
                <a class="nav-link text-dark" asp-area="" asp-controller="sregister" asp-action="Create">Mark-Register</a>
            </la>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            <la>
                <a class="nav-link text-dark" asp-area="" asp-controller="Registry" asp-action="GetAllTodaysAttendanceReports">DailyReport</a>
            </la>
        </div>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
            <la>
                <a class="nav-link text-dark" asp-area="" asp-controller="Term" asp-action="GetCurrentTermsReports">TermReport</a>
            </la>
        </div>
        
    </la>
  
</div>
<hr />


