@using RegisterAPP.Models

@{
    ViewData["Title"] = "Home Page";
}

@model Registry


<h3>Attendance Recorder</h3>
<hr />
<div class="form-group">
    <p>
        Welcome to the Attendace Register App.<br />
        To use the app follow the guide below:
    </p>
    <ol>
        <li>
            <b>Marking Register</b> - Click on <i>Mark-Register</i> menu and Enter Details
        </li>
        <li>
            <b>Viewing Today's Register</b> - Click on <i>Daily-Report</i> 
        </li>
        <li>
            <b>Viewing Current Terms Report</b> - Click on <i>Term-Report </i>
        </li>

    </ol>

  
</div>
<hr />


